<footer class="footer border-top bg-primary">
    <div class="container text-light">
        <div class="row">
            <div class="col">
                &copy; 2018
                <a href="http://dsiohaandbold.dk" class="text-light">DSIO Håndbold</a>
            </div>
            <div class="col text-right d-none d-md-block">
                Kontakt:
                <a href="mailto:mail@dsiohaandbold.dk" class="text-light">mail@dsiohaandbold.dk</a>
            </div>
        </div>
    </div>
</footer>
